manual_model_building/__pycache__/__init__.cpython-311.pyc
manual_model_building/utilities/__pycache__/generate_polynomials.cpython-311.pyc
Tests/manual-model-building/utilities/__pycache__/test_generate_polynomials.cpython-311.pyc
*.pyc
.DS_Store
experiments/line_progression/loss_lines/outputs/training_visualisation.py
experiments/line_progression/loss_lines/outputs/carbon/iter1000_degree3_rate0.005_trdFalse_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/carbon/iter1000_degree3_rate0.005_trdTrue_ogdFalse_axFalse.png
experiments/line_progression/loss_lines/outputs/carbon/iter1000_degree3_rate0.005_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/gini/iter500_degree1_rate0.05_trdFalse_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/gini/iter500_degree1_rate0.05_trdTrue_ogdFalse_axFalse.png
experiments/line_progression/loss_lines/outputs/gini/iter500_degree2_rate0.05_original_data.png
experiments/line_progression/loss_lines/outputs/gini/iter500_degree2_rate0.05_training_data.png
experiments/line_progression/loss_lines/outputs/gini/iter500_degree2_rate0.05.png
experiments/line_progression/loss_lines/outputs/gini_2/iter500_degree2_rate0.05_trdFalse_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/gini_2/iter500_degree2_rate0.05_trdTrue_ogdFalse_axFalse.png
experiments/line_progression/loss_lines/outputs/gini_2/iter500_degree2_rate0.05_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/gini_3/iter500_degree2_rate0.05_trdFalse_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/gini_3/iter500_degree2_rate0.05_trdTrue_ogdFalse_axFalse.png
experiments/line_progression/loss_lines/outputs/gini_3/iter500_degree2_rate0.05_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter100_degree1_rate1_trdFalse_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter100_degree1_rate1_trdTrue_ogdFalse_axFalse.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter100_degree1_rate1_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter1000_degree2_rate0.03_trdFalse_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter1000_degree2_rate0.03_trdTrue_ogdFalse_axFalse.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter1000_degree2_rate0.03_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter1000_degree2_rate0.005_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter1000_degree3_rate0.03_trdTrue_ogdTrue_axTrue.png
experiments/line_progression/loss_lines/outputs/life_expectancy/iter1000_degree3_rate0.005_trdTrue_ogdTrue_axTrue.png
